In [1]:
# importing the library

import pandas as pd
import numpy as np

In [16]:
# importing the datasets

df = pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [17]:
# check any null value or not

df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [18]:
# Divided datasets into independent and dependent variable

x = df.iloc[:,:-1]
y = df.iloc[:,4]

In [19]:
# convert categorical variable into numerial using one hot encoding

state = pd.get_dummies(x['State'],drop_first=True)
state.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [20]:
# Drop the state column

x.drop('State',axis=1, inplace=True)

In [21]:


# concat the dummy variable

x = pd.concat([x,state],axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [22]:
# Splitting dataset into the traing and testing set

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.3, random_state=0)

In [24]:
# Fitting Multiple Linear Regression to the traing dataset

from sklearn.linear_model import LinearRegression

multi_lin_regression = LinearRegression()
multi_lin_regression.fit(x_train,y_train)

# Predicting the test set result
y_predict = multi_lin_regression.predict(x_test)


#Evaluation

from sklearn.metrics import r2_score

score =r2_score(y_test,y_predict)

print(score)

0.9358680970046243